body{
    font-family: cursive;
    color: #3c3939;
    background-color: aquamarine;
}
.profile-card{
    width: 400px;
    margin: auto;
    background: #fff;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #3c3939;
}
.image-container{
    position: relative;
}
.info{
    color: wheat;
    margin-right: 16px;
}
.main-container{
    padding: 20px;
}
.btn{
    display: block;
    background: #8904B1;
    padding: 14px 0;
    color: wheat;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    box-shadow: 0 0 20px #3c3939;
    border-radius: 8px;
}